
baseEndpoint: https://ai-gateway.us-east-1.staging.atl-paas.net

supportedUris:
  - in: /openai/v1/chat/completions
    out: /v1/openai/v1/chat/completions

  - in: /bedrock/claude/v1/messages
    out: |
      /v1/bedrock/model/{{ normalizeModel .body.model "anthropic." "-v1:0" }}/invoke{{- if eq (index .body.stream) true -}}-with-response-stream{{- end -}}

overrides:
  global:
    request:
      headers:
        # If no name is define for op: remove, then it removes all headers
        - op: remove

        - op: add
          name: Content-Type
          text: application/json
        - op: add
          name: Accept
          text: application/json
        - op: add
          name: X-Atlassian-CloudId
          text: a436116f-02ce-4520-8fbb-7301462a1674
        - op: add
          name: X-Atlassian-UseCaseId
          text: autofix-service-internal
        - op: add
          name: Authorization
          request:
            method: POST
            url: http://localhost:21298/rest/token
            jsonBody: '{"audience":"ai-gateway","environment":"staging","groups":["atlassian-all"]}'
            response:
              resultPath: /bearerToken

      response:
        headers: []

  uris:
    # Use the Bedrock provider. All models can be accessed through the proxy
    # using the anthropic claude format.
    /bedrock/claude/v1/messages:
      request:
        headers:
          # The bedrock api requires the anthropic version in the body rather
          # than as a header like the anthropic api so the header needs to be
          # removed.
          - op: remove
            name: anthropic-version

          # No need for this when using AI-Gateway
          - op: remove
            name: x-api-key
        body:
          template: |
            {
              {{- $first := true }}
              {{- range $k, $v := .body }}
              {{- if and (ne $k "model") (ne $k "stream") (ne $k "messages") }}
                {{- if not $first }},{{ end }}
                "{{ $k }}": {{ toJson $v }}
                {{- $first = false }}
              {{- end }}
              {{- end }},
              {{/* The bedrock api requires the anthropic version in the json body */}}
              "anthropic_version": "bedrock-2023-05-31",
              "messages": [
                {{- $firstMsg := true }}
                {{- range $msg := .body.messages }}
                  {{- if not $firstMsg }},{{ end }}
                  {{- $firstMsg = false }}
                  {{- if eq (getType $msg.content) "string" }}
                    {
                      "role": "{{ $msg.role }}",
                      "content": [
                        {
                          "type": "text",
                          "text": "{{ safeEncode $msg.content }}"
                        }
                      ]
                    }
                  {{- else }}
                    {{ toJson $msg }}
                  {{- end }}
                {{- end }}
              ]
            }
